.modal-dark-bg {
  position: fixed;
  background-color: rgba(0,0,0,.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.auth-box {
  background-color: white;
  padding: 20px;
  width: 560px;
  z-index: 3;
}

.facebook-button {
  background-color: #4568B2;
}

.google-button {
  background-color: #FFFFFF;
  border: 2px solid rgb(118, 118, 118);
  
}

.pink-button {
  background-color: #FF5A5F;
  font-weight: 700;
}

.google-text {
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.fa-google {
  color: #484848;
}

.wide-button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 22px;
  color: white;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 10px;
    font-weight: 700;
  }
}

.or-wrapper {
  position: relative;
  text-align: center;
  margin: 15px 0;
}

.center-or::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #e4e4e4;
  width: 250px;
  top: 50%;
  left: 0;
}

.center-or::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #e4e4e4;
  width: 250px;
  top: 50%;
  right: 0;
}

.auth-bottom-text {
  margin-top: 20px;
  padding: 15px 0px;
  border-top: 1px solid #e4e4e4;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.teal-link {
  color: #008489;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.teal-link:hover {
  text-decoration: underline;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.auth-input {
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 11px;
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.auth-input:focus {
  border: 1px solid #008489;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 13px;  
}

.fa-eye-slash {
  cursor: pointer;
}
.fa-eye {
  cursor: pointer;
}

.centered-text {
  text-align: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.error-text {
  color: #d93900;
}

.red-border {
  border: 1px solid red;
  background-color: #FFF8F6;
}