.booking-box-container {
    position: relative;
    height: calc(100vh - 70px);
    width: 100vw;
}

.booking-box {
    background: #ffffff;
    border-radius: 4px;
    padding: 32px;
    width: 460px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
    position: absolute;
    margin-top: 20vh;
    margin-left: 14vw;
    margin-bottom: 26vh;
    @media screen and (max-width: $break-small) {
        margin-left: 10px;
        width: calc(100% - 100px);
    }
}

.booking-box-title {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: normal;
    color: #484848;
    padding-top: 6px;
    padding-bottom: 22px;
    font-weight: bold;
}

.booking-box-label {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #484848;
    font-weight: 800;
    display: block;
}

.box-input {
    width: 100%;
    height: 48px;
    display: table;
    background-color: #ffffff;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    margin-top: 8px;
    &.box-input {
        padding: 10px;
        box-sizing: border-box;
        border-radius: 2px;
        display: inline;
    }
}

.booking-box-submit-container {
    width: 100%;
}

.listing-show-guest-dropdown {
    width: 100%;
    height: 45px;
    padding: 8px;
    border: 1px solid #dbdbdb;
    background: #ffffff;
    font-size: 17px;
    color: #484848;
    line-height: 24px;
    margin-top: 6px;
} 
    
.booking-box-label {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #484848;
    font-weight: 800;
    display: block;
}

.booking-box-submit {
    margin: auto;
    text-align: center;
    padding: 13px;
    color: white;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #FF5A5F;
    border: 2px solid transparent;
    border-radius: 2px;
}

.booking-box-dates {
    padding: 20px 0px;
}

.DateInput {
  width: 40%;
  position: inherit;
}
.DayPicker_weekHeader_ul {
  display: flex;
}
.DateRangePicker {
  margin-top: 6px;
  width: 100%;
}
.DateRangePickerInput {
  width: 100%;
}
.DateInput_input {
    font-size: 15px;
}