.footer-container {
    width: 100%;
    padding: 50px 0px;
    border-top: 1px solid rgb(235, 235, 235);
}

.footer-content {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: $break-small) {
        width: 100%;
        display: block;
    }
}

.column {
    width: 150px;
    padding: 10px 50px 0px 0px;
    &-header {
        font-family: 'Poppins', sans-serif;
        color: rgb(118, 118, 118);
        font-size: 14px;
        font-weight: 600;
        color: #484848;
        padding-bottom: 10px;
    }
    li, p {
        font-family: 'Poppins', sans-serif;
        color: #767676;
        font-size: 14px;
    }
    @media screen and (max-width: $break-small) {
        margin: 0;
        width: 100%;
        text-align: center;
    }
}