.lair-index-container {
    padding: 30px;
}

.lair-index-type-header {
    color: #484848;
    font-weight: 600;
    font-size: 25px;
    padding: 15px 0px 15px 0px;
}

.lair-row-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
}

.lair-tile {
    height: 300px;
    width: 240px;
    margin: 0px 15px 15px 0px;
    text-align: center;
    background-size: cover;
    background-position-x: center;
    border-radius: 3px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.lair-info {
    height: 50px;
}

.lair-type {
    font-size: 18px;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}

.lair-rate {
    font-size: 14px;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}