.show-img {
    height: 600px;
    width: 100%;
}

.lair-items-container {
    width: 600px;
}

.lair-name {
    font-size: 32px;
    font-weight: 500;
    color: #484848;
    font-family: 'Poppins', sans-serif;
}

.lair-location {
    font-size: 16px;
    color: #484848;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.lair-description {
    font-size: 16px;
    color: #484848;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.single-amenity {

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 100px;
    padding-left: 2px;
}

.amenities {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: #484848;
    font-family: 'Poppins', sans-serif;
}

.lair-detail-container {
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}