html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ul, ol {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button,
input[type="submit"], a {
  cursor: pointer; }

body {
  font-family: 'Roboto', sans-serif; }

.splash-back {
  background-image: url(https://lairbnb-dev.s3.us-east-2.amazonaws.com/splash/Barad_dur.jpg);
  min-width: 100vw;
  height: 100vh;
  background-size: cover; }

.nav-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 700;
  z-index: 3; }

.fa-airbnb, .fa-biohazard {
  font-size: 33px;
  color: white;
  transform: translate(0px, -2px);
  margin-right: 20px; }

.nav-session-container {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.btn-session {
  color: white;
  display: flex;
  align-items: center;
  font-size: 14px;
  background: transparent;
  border: none;
  height: 80px;
  padding: 0px 10px;
  margin-left: 30px;
  box-sizing: border-box;
  border-bottom: 2px solid transparent; }
  .btn-session:hover {
    border-bottom: 2px solid white; }
  @media screen and (max-width: 700px) {
    .btn-session {
      margin: 0;
      width: 100%; } }

.nav-splash {
  position: absolute;
  z-index: 2;
  background-color: transparent; }

.nav-nonsplash {
  position: sticky !important;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #e4e4e4; }
  .nav-nonsplash .fa-airbnb, .nav-nonsplash .fa-biohazard {
    color: #FF5A5F; }
  .nav-nonsplash .btn-session {
    color: #484848; }
    .nav-nonsplash .btn-session:hover {
      border-bottom: 2px solid #767676; }

.fa-search {
  padding-top: 12px;
  position: absolute;
  left: 100px; }

.nav-left {
  display: flex;
  align-items: center; }

.nav-search {
  width: 450px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-left: 50px;
  font-weight: 700; }
  @media screen and (max-width: 700px) {
    .nav-search {
      width: 100%; } }

.nav-search:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(26, 26, 29, 0.08); }

.profile-pic {
  border-radius: 50%;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  object-fit: cover; }

#user-dropdown {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
  padding: 0 15px;
  width: 290px;
  top: 85px;
  right: 10px;
  background-color: white;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif; }

.user-dropdown-lis {
  padding: 20px 0;
  cursor: pointer;
  border-bottom: 1px solid #f2f2f2; }

.user-dropdown-lis:hover {
  border-bottom: 1px solid #767676; }

.hidden {
  display: none; }

.show-hidden {
  display: block; }

.modal-dark-bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; }

.auth-box {
  background-color: white;
  padding: 20px;
  width: 560px;
  z-index: 3; }

.facebook-button {
  background-color: #4568B2; }

.google-button {
  background-color: #FFFFFF;
  border: 2px solid #767676; }

.pink-button {
  background-color: #FF5A5F;
  font-weight: 700; }

.google-text {
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500; }

.fa-google {
  color: #484848; }

.wide-button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 22px;
  color: white;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .wide-button span {
    margin-left: 10px;
    font-weight: 700; }

.or-wrapper {
  position: relative;
  text-align: center;
  margin: 15px 0; }

.center-or::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #e4e4e4;
  width: 250px;
  top: 50%;
  left: 0; }

.center-or::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #e4e4e4;
  width: 250px;
  top: 50%;
  right: 0; }

.auth-bottom-text {
  margin-top: 20px;
  padding: 15px 0px;
  border-top: 1px solid #e4e4e4;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400; }

.teal-link {
  color: #008489;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600; }

.teal-link:hover {
  text-decoration: underline; }

.input-wrapper {
  position: relative;
  width: 100%; }

.auth-input {
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 11px;
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 15px; }

.auth-input:focus {
  border: 1px solid #008489; }

.input-icon {
  position: absolute;
  right: 10px;
  top: 13px; }

.fa-eye-slash {
  cursor: pointer; }

.fa-eye {
  cursor: pointer; }

.centered-text {
  text-align: center; }

.flex-end {
  display: flex;
  justify-content: flex-end; }

.error-text {
  color: #d93900; }

.red-border {
  border: 1px solid red;
  background-color: #FFF8F6; }

.booking-box-container {
  position: relative;
  height: calc(100vh - 70px);
  width: 100vw; }

.booking-box {
  background: #ffffff;
  border-radius: 4px;
  padding: 32px;
  width: 460px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
  position: absolute;
  margin-top: 20vh;
  margin-left: 14vw;
  margin-bottom: 26vh; }
  @media screen and (max-width: 700px) {
    .booking-box {
      margin-left: 10px;
      width: calc(100% - 100px); } }

.booking-box-title {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: normal;
  color: #484848;
  padding-top: 6px;
  padding-bottom: 22px;
  font-weight: bold; }

.booking-box-label {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #484848;
  font-weight: 800;
  display: block; }

.box-input {
  width: 100%;
  height: 48px;
  display: table;
  background-color: #ffffff;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  margin-top: 8px; }
  .box-input.box-input {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    display: inline; }

.booking-box-submit-container {
  width: 100%; }

.listing-show-guest-dropdown {
  width: 100%;
  height: 45px;
  padding: 8px;
  border: 1px solid #dbdbdb;
  background: #ffffff;
  font-size: 17px;
  color: #484848;
  line-height: 24px;
  margin-top: 6px; }

.booking-box-label {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #484848;
  font-weight: 800;
  display: block; }

.booking-box-submit {
  margin: auto;
  text-align: center;
  padding: 13px;
  color: white;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #FF5A5F;
  border: 2px solid transparent;
  border-radius: 2px; }

.booking-box-dates {
  padding: 20px 0px; }

.DateInput {
  width: 40%;
  position: inherit; }

.DayPicker_weekHeader_ul {
  display: flex; }

.DateRangePicker {
  margin-top: 6px;
  width: 100%; }

.DateRangePickerInput {
  width: 100%; }

.DateInput_input {
  font-size: 15px; }

@font-face {
  font-family: "Blacksword";
  src: url("../assets/fonts/Blacksword.woff") format("woff"); }
.lair-index-container {
  padding: 50px; }

.lair-index-header {
  color: #484848;
  font-weight: 600;
  font-size: 25px; }
.lair-index-sub-header {
  font-family: 'Poppins', sans-serif;
  color: #646464;
  font-weight: 500;
  margin: 0;
  font-size: 15px; }
.lair-index-plus-image {
  width: 100%;
  height: 300px;
  background-image: url("https://lairbnb-dev.s3.us-east-2.amazonaws.com/lairs/kylo_ren_lair.png");
  background-size: cover;
  border-radius: 3px;
  background-position-y: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .lair-index-plus-image button {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    color: #484848;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    font-family: 'Poppins';
    font-weight: 600; }
    .lair-index-plus-image button:hover {
      background-color: #EBEBEB; }
.lair-index-plus-text {
  font-family: 'Blacksword';
  font-size: 50px;
  font-weight: 500;
  margin: 0 auto;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 90px 90px 0px 90px; }
  @media screen and (max-width: 700px) {
    .lair-index-plus-text {
      margin-top: 50px;
      padding: 0; } }

.lair-row-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 15px 0px 15px 0px; }
  @media screen and (max-width: 700px) {
    .lair-row-container > a {
      width: 100%; } }

.lair-type-tile {
  height: 300px;
  width: 197px;
  margin: 0px 15px 15px 0px;
  text-align: center;
  background-size: cover;
  background-position-x: center;
  border-radius: 3px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  @media screen and (max-width: 700px) {
    .lair-type-tile {
      width: 100%; } }

.lair-info {
  height: 50px; }

.lair-type {
  font-size: 18px;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8); }

.lair-rate {
  font-size: 14px;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8); }

.lair-random-tile {
  width: 250px;
  height: 300px;
  padding: 0px 15px 15px 0px; }
  .lair-random-tile-image {
    background-size: cover;
    width: 250px;
    height: 200px;
    border-radius: 3px;
    background-position-x: center; }
  .lair-random-tile-description {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #767676;
    font-weight: 600;
    font-size: 12px;
    padding-top: 5px; }
  .lair-random-tile-title {
    color: #4d4d4d;
    font-size: 20px; }
  .lair-random-tile-price {
    font-family: 'Poppins', sans-serif;
    color: #767676;
    font-size: 12px; }
  .lair-random-tile-rating span {
    color: #767676;
    padding-left: 5px;
    font-size: 11px; }

.fa-star, .fa-star-half-alt {
  color: #006c70;
  font-size: 13px; }

.lair-type-header {
  color: #484848;
  font-weight: 900;
  font-size: 46px; }

.location-lairs-index-container {
  display: flex; }

#map-container {
  height: calc(100vh - 95px);
  width: 73%;
  float: right;
  top: 91px;
  position: sticky !important; }

.user-profile-container {
  margin: 40px;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 700px) {
    .user-profile-container {
      display: block; } }

.unbold {
  font-weight: 400; }

.user-profile-right {
  width: 575px;
  min-height: 311px;
  margin-left: 95px; }
  .user-profile-right-name {
    font-family: 'Poppins';
    font-size: 40px;
    color: #484848; }
  .user-profile-right p {
    font-size: 18px;
    color: #484848; }
  .user-profile-right-sub {
    display: flex;
    flex-direction: row; }
    .user-profile-right-sub span {
      font-size: 15px;
      padding: 0px 5px 0px 5px; }
  @media screen and (max-width: 700px) {
    .user-profile-right {
      margin: 0 auto;
      width: 100%;
      margin-top: 20px; } }
  .user-profile-right .reviews-container {
    margin-top: 30px; }

.blurb-quote {
  color: #ebebeb;
  font-size: 64px;
  height: 50px;
  font-family: 'Poppins'; }

.short-line {
  width: 30px;
  margin-top: 20px;
  border-bottom: 4px solid #ebebeb; }

.user-profile-left {
  width: 325px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  padding: 25px; }
  .user-profile-left-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 20px; }
  .user-profile-left-content {
    width: 250px; }
  .user-profile-left-line {
    margin-top: 24px;
    margin-bottom: 24px; }
    .user-profile-left-line .line {
      border-bottom: 1px solid #EBEBEB; }
  .user-profile-left-provided-header {
    font-family: 'Poppins';
    font-size: 15px;
    color: #484848;
    font-weight: 600;
    text-align: left; }
  .user-profile-left span {
    font-family: 'Poppins';
    font-size: 15px;
    color: #484848;
    font-weight: 500; }
  @media screen and (max-width: 700px) {
    .user-profile-left {
      margin: 0 auto; } }

.fa-check-circle {
  color: #008489;
  text-align: left;
  padding-right: 10px; }

.host-description-textarea {
  width: 575px;
  height: 100px;
  border: 1px solid #ebebeb;
  resize: vertical;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px; }

.host-description-textarea:focus {
  border: 1px solid #008489; }

.user-profile-listings {
  display: flex;
  flex-direction: row; }
.user-profile-sub-header {
  font-family: 'Poppins';
  font-size: 23px;
  color: #484848;
  font-weight: 600; }

.user-profile-edit-container {
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: column; }
.user-profile-edit-header {
  font-size: 17px;
  color: #484848;
  font-weight: 600; }

input[type="submit"] {
  color: white;
  background-color: #008489;
  width: 75px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  margin-right: 10px; }

.footer-container {
  width: 100%;
  padding: 50px 0px;
  border-top: 1px solid #ebebeb; }

.footer-content {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 700px) {
    .footer-content {
      width: 100%;
      display: block; } }

.column {
  width: 150px;
  padding: 10px 50px 0px 0px; }
  .column-header {
    font-family: 'Poppins', sans-serif;
    color: #767676;
    font-size: 14px;
    font-weight: 600;
    color: #484848;
    padding-bottom: 10px; }
  .column li, .column p {
    font-family: 'Poppins', sans-serif;
    color: #767676;
    font-size: 14px; }
  @media screen and (max-width: 700px) {
    .column {
      margin: 0;
      width: 100%;
      text-align: center; } }

.show-img-container {
  height: 600px; }

.show-img {
  height: 100%;
  object-fit: cover;
  object-position: center; }

.lair-items-container {
  max-width: 600px;
  width: calc(100% - 350px); }
  @media screen and (max-width: 700px) {
    .lair-items-container {
      width: 100%; } }

.lair-name {
  font-size: 32px;
  font-weight: 600;
  color: #5e5d5d;
  font-family: 'Cabin', sans-serif; }

.lair-location {
  font-size: 17px;
  color: #5e5d5d;
  font-family: 'Cabin', sans-serif;
  font-weight: 400; }

.lair-description {
  font-size: 17px;
  color: #5e5d5d;
  font-family: 'Cabin', sans-serif;
  font-weight: 400; }

.single-amenity {
  width: 48%;
  padding: 5px;
  color: #5e5d5d;
  display: flex;
  align-items: center;
  height: 33px; }

.single-amenity-text {
  font-size: 17px;
  font-family: 'Cabin', sans-serif;
  margin-left: 10px;
  font-weight: 100; }

.single-amenity-crossed-text {
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  text-decoration: line-through;
  margin-left: 10px;
  font-weight: 100; }

.amenities {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  color: #5e5d5d;
  font-family: 'Cabin', sans-serif; }

.lair-user-container {
  display: flex;
  justify-content: space-between; }

.lair-name-location {
  display: flex;
  flex-direction: column;
  margin-top: 15px; }

.user-image-name-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.user-pic {
  border-radius: 50%;
  margin-top: 21px;
  padding: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  object-fit: cover; }

.user-username {
  color: #767676;
  font-size: 14px;
  font-family: 'Cabin', sans-serif; }

.amenities-header {
  margin-bottom: 7px;
  color: #5e5d5d;
  font-size: 18px;
  font-weight: 1000;
  font-family: 'Cabin', sans-serif; }

.about-lair-container {
  padding-top: 10px; }

.about-lair-title-text {
  font-family: 'Cabin', sans-serif;
  font-size: 17px;
  color: #5e5d5d;
  font-weight: 1000; }

.about-lair-description {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 21px;
  margin-left: 30px;
  color: #5e5d5d;
  font-weight: 100; }

.fa-home {
  margin: 4px 12px 0px 0px;
  height: 16px;
  width: 18px;
  font-size: 11px; }

.fa-medal {
  margin: 4px 12px 0px 0px;
  height: 16px;
  width: 18px;
  font-size: 11px; }

.fa-ghost {
  margin: 4px 12px 0px 0px;
  height: 16px;
  width: 18px;
  font-size: 11px; }

.fa-map-marker-alt {
  margin: 4px 12px 0px 0px;
  height: 16px;
  width: 18px;
  font-size: 11px; }

.about-lair-title {
  display: flex;
  color: #484848;
  font-family: 'Poppins', sans-serif; }

.lair-detail-container {
  padding: 50px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media screen and (max-width: 700px) {
    .lair-detail-container {
      display: block; } }

.reserve-form-container {
  position: sticky;
  padding: 20px;
  margin-left: 30px;
  width: 325px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  font-family: 'Poppins';
  height: 100%;
  top: 100px; }
  .reserve-form-container .error-text {
    font-size: 12px;
    text-align: center; }
  @media screen and (max-width: 700px) {
    .reserve-form-container {
      position: block;
      margin: 0 auto;
      top: 0; } }
.reserve-form-details {
  width: 325px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EBEBEB; }
.reserve-form-rate {
  font-size: 20px;
  font-weight: 600;
  color: #484848; }
.reserve-form-dates-guests {
  width: 325px;
  padding: 0px 0px 10px 0px; }
.reserve-form-sub-header {
  font-size: 12px;
  color: #484848; }
.reserve-form-dynamic-details {
  width: 325px;
  font-family: 'Poppins';
  color: #484848;
  font-size: 14px; }
.reserve-form-dynamic-details-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 10px;
  border-top: 1px solid #EBEBEB; }

.last {
  font-weight: 600; }

.per-night {
  font-family: 'Poppins';
  color: #484848;
  font-size: 12px;
  font-weight: 600; }

.date-picker {
  width: 100px; }

.success-text {
  color: #484848;
  font-size: 12px;
  text-align: center; }

.reviews-container {
  margin-top: 10px; }
  .reviews-container .fa-star, .reviews-container .fa-star-half-alt {
    padding: 0px 1px; }

.review-header {
  padding: 20px 0px;
  font-size: 24px;
  color: #484848;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB; }
.review-user-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px; }
.review-star-details-col {
  display: flex;
  flex-direction: column;
  width: 50%; }
.review-star-details-row {
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .review-star-details-row span {
    font-family: "Poppins";
    color: #484848; }
  .review-star-details-row .stars {
    padding-right: 20px; }
  @media screen and (max-width: 1000px) {
    .review-star-details-row {
      display: block; } }
.review-user-reviews {
  padding: 10px 0px; }
  .review-user-reviews p {
    padding-top: 10px;
    font-family: "Poppins";
    color: #484848; }
  .review-user-reviews li {
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEBEB; }
  .review-user-reviews-user-info {
    display: flex; }
    .review-user-reviews-user-info span {
      color: #484848;
      padding: 40px 0px 0px 10px;
      font-weight: 600;
      font-size: 16px; }
  .review-user-reviews .no-reviews {
    padding: 10px 0px;
    font-weight: 500; }

.user-profile-right .reviews-container .review-header {
  display: block; }
.user-profile-right .reviews-container .user-show-reviews-row-header > a {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .user-profile-right .reviews-container .user-show-reviews-row-header > a p {
    font-size: 12px;
    font-weight: 500;
    color: #767676; }
    .user-profile-right .reviews-container .user-show-reviews-row-header > a p:hover {
      text-decoration: underline; }
  .user-profile-right .reviews-container .user-show-reviews-row-header > a img {
    width: 50px;
    height: 30px; }
.user-profile-right .reviews-container .user-show-reviews-row-body {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  padding-top: 20px; }

.booking-index-container {
  padding-top: 50px;
  padding-right: 60px;
  padding-left: 60px;
  background: #F9F8F7; }

.no-bookings-index-container {
  padding-top: 50px;
  padding-right: 60px;
  padding-left: 60px; }

.no-booking-index-header {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #484848;
  padding-bottom: 30px; }

.booking-index-none {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #484848; }

.booking-index-header {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #484848;
  padding-bottom: 30px;
  padding-left: 20px; }

.booking-formatter {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.actual-booking-container {
  background: #FFFFFF;
  width: 45%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 25px;
  height: 500px;
  transition: transform .3s;
  min-width: 385px; }

.actual-booking-container:hover {
  transform: scale(1.05);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */ }

.booking-index-img-container {
  height: 65%; }

.booking-index-img {
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover; }

.booking-index-info-container {
  height: 35%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 5px 10px 18px #888888;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

.booking-index-dates {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #484848; }

.booking-index-location {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #484848; }

.booking-index-type {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #484848; }

.cancel-booking-button {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #008489; }

.location-lairs-index-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px 20px 20px; }
  .location-lairs-index-container .lair-tile {
    width: 725px;
    height: 200px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 0;
    display: flex;
    flex-direction: row; }
    .location-lairs-index-container .lair-tile .lair-tile-image {
      height: 100%;
      background-size: cover;
      width: 500px; }
    .location-lairs-index-container .lair-tile .lair-tile-info {
      padding: 0px 20px;
      width: 100%; }
      .location-lairs-index-container .lair-tile .lair-tile-info p {
        font-family: 'Poppins', sans-serif;
        color: #767676;
        font-size: 12px; }
    .location-lairs-index-container .lair-tile .lair-tile-description {
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      color: #767676;
      font-weight: 600;
      font-size: 12px;
      padding-top: 5px; }
    .location-lairs-index-container .lair-tile .lair-tile-title {
      color: #4d4d4d;
      font-size: 20px; }
    .location-lairs-index-container .lair-tile .lair-tile-bottom-info > span {
      color: #4d4d4d;
      font-size: 18px; }
    .location-lairs-index-container .lair-tile .lair-tile-bottom-info {
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .location-lairs-index-container .lair-tile:hover {
      box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px; }
  .location-lairs-index-container h1 {
    font-family: 'Poppins';
    color: #484848;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px; }

/*# sourceMappingURL=output.css.map */
