.reserve-form {
    &-container {
        position: sticky;
        padding: 20px;
        margin-left: 30px;
        width: 325px;
        border: 1px solid #e4e4e4;
        border-radius: 3px;
        font-family: 'Poppins';
        height: 100%;
        top: 100px;
        .error-text {
            font-size: 12px;
            text-align: center;
        }
        @media screen and (max-width: $break-small) {
            position: block;
            margin: 0 auto;
            top: 0;
        }
    }
    &-details {
        width: 325px;
        padding-bottom: 10px;
        border-bottom: 1px solid #EBEBEB;
    }
    &-rate {
        font-size: 20px;
        font-weight: 600;
        color: rgb(72, 72, 72);
    }
    &-dates-guests {
        width: 325px;
        padding: 0px 0px 10px 0px;
    }
    &-sub-header {
        font-size: 12px;
        color: rgb(72, 72, 72);
    }
    &-dynamic-details {
        width: 325px;
        font-family: 'Poppins';
        color: rgb(72, 72, 72);
        font-size: 14px;
    }
    &-dynamic-details-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 5px;
        padding-top: 10px;
        border-top: 1px solid #EBEBEB;
    }
}
.last {
    font-weight: 600;
}

.per-night {
    font-family: 'Poppins';
    color: rgb(72, 72, 72);
    font-size: 12px;
    font-weight: 600;
}

.date-picker {
    width: 100px;
}

.success-text {
    color: rgb(72, 72, 72);
    font-size: 12px;
    text-align: center;
}
