.user-profile-container {
    margin: 40px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: $break-small) {
        display: block;
    }
}
.unbold {
    font-weight: 400;
}
.user-profile-right {
    width: 575px;
    min-height: 311px;
    margin-left: 95px;
    &-name {
        font-family: 'Poppins';
        font-size: 40px;
        color: #484848;
    }
    p {
        font-size: 18px;
        color: #484848;
    }
    &-sub {
        display: flex;
        flex-direction: row;
        span {
            font-size: 15px;
            padding: 0px 5px 0px 5px;
        }
    }
    @media screen and (max-width: $break-small) {
        margin: 0 auto;
        width: 100%;
        margin-top: 20px;
    }
    .reviews-container { 
        margin-top: 30px;
    }
}

.blurb-quote {
    color: rgb(235,235,235);
    font-size: 64px;
    height: 50px;
    font-family: 'Poppins';
}

.short-line {
    width: 30px;
    margin-top: 20px;
    border-bottom: 4px solid rgb(235,235,235);
}

.user-profile-left {
    width: 325px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    padding: 25px;
    &-image {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    &-content{
        width: 250px;
    }
    &-line {
        margin-top: 24px;
        margin-bottom: 24px;
        .line {
            border-bottom: 1px solid #EBEBEB;
        }
    }
    &-provided-header {
        font-family: 'Poppins';
        font-size: 15px;
        color: #484848;
        font-weight: 600;
        text-align: left;
    }
    span {
        font-family: 'Poppins';
        font-size: 15px;
        color: #484848;
        font-weight: 500;
    }
    @media screen and (max-width: $break-small) {
        margin: 0 auto;
    }
}

.fa-check-circle {
    color: rgb(0, 132, 137);
    text-align: left;
    padding-right: 10px;
}


.host-description-textarea {
    width: 575px;
    height: 100px;
    border: 1px solid rgb(235,235,235);
    resize: vertical;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}
.host-description-textarea:focus {
    border: 1px solid #008489;
}

.user-profile{
    &-listings {
        display: flex;
        flex-direction: row;
    }
    &-sub-header {
        font-family: 'Poppins';
        font-size: 23px;
        color: #484848;
        font-weight: 600;
    }
}

.user-profile-edit {
    &-container {
        padding: 15px 0px 15px 0px;
        display: flex;
        flex-direction: column;
    }
    &-header {
        // font-family: 'Poppins';
        font-size: 17px;
        color: #484848;
        font-weight: 600;
    }
}

input[type="submit"] {
    color: white;
    background-color: #008489;
    width: 75px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
}
